/* Color */
/* Adaptive */
body {
  margin: 0;
  padding: 0;
  color: #000;
  font-family: "Montserrat", sans-serif;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

/* Page-wrapper */
.page-wrapper {
  overflow: hidden;
}

/* Burger */
.burger {
  display: none;
}
@media (max-width: 991px) {
  .burger {
    display: block;
    position: fixed;
    margin: 0 15px;
    left: 0;
    background: none;
    border: none;
    z-index: 9999;
  }
}

.burger__icon {
  width: 20px;
}

/* ScrollUpBtn */
.scrollUp {
  position: fixed;
  bottom: 30%;
  right: 0;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1000;
  visibility: visible;
}

@media (max-width: 565px) {
  .scrollUp__img {
    width: 45px;
  }
}

/* Block */
.header {
  width: 100%;
  margin-top: 25px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__nav {
  display: flex;
  align-items: center;
}
@media (max-width: 1199px) {
  .header__nav {
    margin-left: 15px;
  }
}

.header__logo {
  margin-right: 60px;
}
@media (max-width: 991px) {
  .header__logo {
    display: none;
  }
}

.header__img {
  max-width: 100%;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.nav {
  display: inline-block;
}
@media (max-width: 991px) {
  .nav {
    display: none;
  }
}

.nav.active {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: fixed;
  text-align: right;
  left: 0;
  top: 0;
  background-color: #000;
  z-index: 1000;
}

.nav__link {
  margin-left: 60px;
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  color: #fff;
  transition: color 0.2s linear;
}
.nav__link:hover {
  color: #36abc7;
  text-decoration: underline #36abc7;
}
@media (max-width: 991px) {
  .nav__link {
    margin: 0;
    padding: 7px 10px;
  }
}

.contacts {
  float: right;
  text-align: right;
}
@media (max-width: 1199px) {
  .contacts {
    margin-right: 15px;
  }
}

.contacts__phone {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
}
@media (max-width: 1199px) {
  .contacts__phone {
    font-size: 20px;
  }
}

.contacts__text {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
}
@media (max-width: 1199px) {
  .contacts__text {
    font-size: 16px;
  }
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 252px;
  position: relative;
  overflow: hidden;
  background: url("../images/intro.jpg") center no-repeat;
  background-size: cover;
}

.intro__inner {
  width: 100%;
  padding-top: 100px;
}

.intro__title {
  text-align: left;
  font-size: 38px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}
@media (max-width: 1199px) {
  .intro__title {
    margin-left: 15px;
  }
}
@media (max-width: 1199px) {
  .intro__title {
    font-size: 24px;
  }
}

.cards {
  margin: 37px 0;
}
@media (max-width: 1199px) {
  .cards {
    margin: 0 auto;
  }
}
@media (max-width: 991px) {
  .cards {
    margin: 0;
  }
}

.cards__filter__inner {
  display: flex;
  align-items: center;
}
@media (max-width: 1199px) {
  .cards__filter__inner {
    margin-top: 30px;
  }
}
@media (max-width: 991px) {
  .cards__filter__inner {
    margin-top: 20px;
    margin-left: 15px;
  }
}

.cards__filter-title {
  margin-right: 48px;
  font-size: 18px;
  font-weight: 700;
  color: #000;
}
@media (max-width: 1199px) {
  .cards__filter-title {
    font-size: 16px;
    margin-right: 25px;
  }
}

.cards__filter-text {
  margin-right: 55px;
  font-size: 14px;
  font-weight: 400;
  color: #000;
}
@media (max-width: 1199px) {
  .cards__filter-text {
    margin-right: 20px;
  }
}

.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card__item {
  margin-top: 30px;
  background-color: #F3F3F3;
}
@media (max-width: 1199px) {
  .card__item {
    margin: 7px auto;
  }
}
@media (max-width: 1199px) {
  .card__item {
    margin: 20px auto;
  }
}
@media (max-width: 565px) {
  .card__item {
    width: 90%;
  }
}

.card__photo {
  position: relative;
  overflow: hidden;
}

.card__img-sale {
  position: absolute;
  top: 10%;
  left: 10%;
}

.card__img-like {
  position: absolute;
  top: 10%;
  right: 10%;
  cursor: pointer;
}
.card__img-like:hover {
  background: url("../images/likeFill.svg");
}

.card__cat {
  margin-top: 29px;
  margin-left: 29px;
  font-size: 24px;
  color: #000;
  font-weight: 700;
}

.card__content {
  display: flex;
  justify-content: space-between;
  margin: 22px 33px;
  padding-left: 18px;
  border-left: 3px solid #36abc7;
}
@media (max-width: 1199px) {
  .card__content {
    margin: 15px 7px;
    padding-left: 14px;
  }
}

.card__text {
  font-size: 12px;
  font-weight: 400;
  color: #000;
}

.card__num {
  margin: 0 20px;
  font-size: 16px;
  font-weight: 700;
  color: #000;
}

.card__price {
  margin-left: 29px;
  margin-bottom: 29px;
  font-size: 24px;
  font-weight: 700;
  color: #000;
}

.btn {
  width: 100%;
  padding: 22px 55px;
  font-size: 16px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  border: none;
  border-radius: 0 0 5px 5px;
  cursor: pointer;
  background: #6EBBD3;
  transition: background 0.2s linear;
}
.btn:hover {
  background: #457487;
}

.btn--black {
  background-color: #1F2021;
}

.btn--long {
  display: block;
  width: auto;
  margin: 70px auto;
  padding: 24px 129px;
  font-size: 14px;
  font-weight: 400;
  color: #000;
  border: 1px solid #cacaca;
  border-radius: 10px;
  background: transparent;
}
@media (max-width: 565px) {
  .btn--long {
    margin: 35px auto;
    padding: 24px 70px;
  }
}

.btn__subscribe {
  width: 250px;
  padding: 22px 35px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 700;
  border-radius: 10px;
}
@media (max-width: 565px) {
  .btn__subscribe {
    width: 150px;
    margin: 10px auto;
    padding: 10px 15px;
  }
}

.footer {
  padding: 80px 0;
  background: #1F2021;
}
@media (max-width: 991px) {
  .footer {
    padding: 40px 0;
  }
}
@media (max-width: 565px) {
  .footer {
    padding: 20px 0;
  }
}

.footer__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.footer__col {
  margin: 15px 0;
}
@media (max-width: 565px) {
  .footer__col {
    text-align: center;
    margin: 10px 15px;
  }
}

.footer__title {
  color: #fff;
  font-size: 48px;
  font-weight: 700;
}
@media (max-width: 565px) {
  .footer__title {
    font-size: 35px;
  }
}

.footer__text {
  margin-top: 26px;
  font-size: 28px;
  font-weight: 400;
  color: #fff;
}
@media (max-width: 991px) {
  .footer__text {
    margin-top: 15px;
  }
}
@media (max-width: 565px) {
  .footer__text {
    font-size: 16px;
  }
}

.subscribe {
  display: flex;
  flex-wrap: wrap;
}

.subscribe__input {
  width: 300px;
  height: 65px;
  margin-right: 15px;
  padding-left: 30px;
  background: #fff;
  border-radius: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
}
@media (max-width: 565px) {
  .subscribe__input {
    width: 250px;
    height: 40px;
    margin: 0 auto;
  }
}

.subscribe__checkbox {
  display: flex;
  margin-top: 24px;
  align-items: center;
}
@media (max-width: 565px) {
  .subscribe__checkbox {
    margin: 0 auto;
    justify-content: center;
  }
}

.subscribe__text {
  font-weight: 400;
  font-size: 14px;
  color: #fff;
}

.subscribe__check {
  width: 18px;
  height: 18px;
  margin-right: 22px;
  border-radius: 10px;
}
@media (max-width: 565px) {
  .subscribe__check {
    margin-right: 10px;
  }
}

/*# sourceMappingURL=style.css.map */
