.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;

  height: 252px;

  position: relative;
  overflow: hidden;


  background: url("../images/intro.jpg") center no-repeat;
  background-size: cover;
}

.intro__inner {
  width: 100%;
  padding-top: 100px;

}

.intro__title {
  text-align: left;
  font-size: 38px;
  font-weight: 700;
  color: $secondary;

  text-transform: uppercase;

  @media #{$notebook} {
    margin-left: 15px;
  }

  @media #{$notebook} {
    font-size: 24px;
  }
}